<div class="demo-container">
  <header>
    <h1>{{ title }}</h1>
    <p class="subtitle">
      Demonstration of NgxDataTable with custom cell components, sorting, and interactive features
    </p>
  </header>

  <main>
    <div class="table-container">

      <ng-data-table
        (sortDataSource)="sortDataSource($event)"
        [dataSources]="games()"
        [colDef]="colDef()"
        [isStripped]="true"
        [displayBorder]="true"
        (rowIsClicked)="onRowClick($event)"
      />

    </div>
  </main>
</div>
